.landing-page{
    margin: auto;
    display: flex;
}
#js-user-form{
    display: flex;
    margin: 30px;
    flex-direction: column;
    background-color:var(--grey);
    width: 90%;
    justify-content: center;
}
.form-group {
    text-align:center;
}

.form-group.cta{
  margin-top: 20px;
  padding: 15px;
}

label{
    font-size: 25px;
    margin: 20px 0;
}
input{
    width: 60%;
    padding: 7px;
    border-radius: 3px;
}

button:hover {
    background-color:#ff00ff;
}

  