.adoptions-page {
    display: flex;
    width: 100%;
    background-color:var(--white);
  }
  
  .users > h2 {
    margin-left: 10px;
  }
  
  .users, .recently-adopted{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .user{
    margin-top:20px;
    margin-left:10px;
  }
  .user img{
    border-radius: 4px;
  }
  
  .user.active img {
    border: 5px solid var(--primary);
  }
  
  .animals {
    flex: 3;
  }
  
  .animals > h2 {
    margin-left: 18px;
  }
  
  .animal-wrapper {
    display: flex;
    margin-left: 35px;
  }
  
  .responsive {
      width: 247px;
      height: 260px;
      border-radius: 4px;
  }
  
  .dog-queue{
    margin:20px;
  }
  .cat-queue{
    margin:20px 50px;
  }
  
  .wrapped-adopted{
    height: 100%;
      display: flex;
      flex-direction: column;
  }

  .adopted-wrapper{
    height: 70%;
    overflow-y: auto;
  }